{# @formatter:off #}
{# 简介: WP Webhook 更新用户通知 #}
{# 文档: 参见 WP Webhook 后台的文档 #}
WordPress 用户更新通知:

用户ID: {{ data.data.ID }}
用户名称: {{ data.data.user_login }}
用户昵称: {{ data.data.user_nicename }}
电子邮箱: {{ data.data.user_email }}
显示名称: {{ data.data.display_name }}
创建时间: {{ data.data.user_registered }}
