{# @formatter:off #}
{# 简介: Chatwoot WebHook #}
{# 文档: https://www.chatwoot.com/docs/product/features/webhooks #}
{{ name }} 通知:
内容: {{ data.content }}
时间: {{ data.created_at }}
账号: {{ data.account.name|default("未知账户", true) }}
