{# @formatter:off #}
{# 简介: Github Webhook notification #}
{# 文档: https://docs.github.com/en/developers/webhooks-and-events/webhooks/about-webhooks #}
{#
  github 事件通知
  数据结构: https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads

  当前支持的类型:

  * issue

  注意:
    在使用本通知模版的时候，需要您设置 数据类型(Content-Type)为 application/json
#}

{% macro render_issue(issue, comment) %}
Git仓库: {{ issue.repository_url }}
Issue: {{ issue.html_url }}
标题: {{ issue.title }}
内容: {{ comment.body }}
{% endmacro %}

{% if data.issue %}
Github issue 通知:
    {% with issue=data.issue %}
        {% if data.action == "edited" %}
Git 仓库: {{ issue.repository_url }}
Issue: {{ issue.html_url }}
原标题: {{ issue.changes.title.from }}
新标题: {{ issue.title }}
内容: {{ data.comment.body }}
        {% else %}
            {{ render_issue(issue, data.comment) }}
        {% endif %}
    {% endwith %}
{% else %}
Github 通知:

收到一个无法处理的事件: {{ data.action }}
{% endif %}
