{# @formatter:off #}
{# 简介: 用户绑定渠道ID的通知 #}
{# 文档: https://tbk.qiyutech.tech/server/env.html#webhook-new-bind #}
{{ name }}:

账号: {{ data.username }}
渠道ID: {{ data.relation_id }}
关系ID: {{ data.special_id }}
